@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ecf0f1; 
}

.header-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.logo {
    width: 150px;
    height: 150px;
    transition: transform .5s ease;
}

.logo:hover {
    transform: rotate(360deg);
}





.nav-container {
    width: 100%;
    height: 80px;
    background-color: #ecf0f1;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 20px;
}

.nav-links a {
    color: #1abc9c;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;
    transition: .1s ease-in-out;
}

.nav-links a:hover {
    color: #f39c12;
    text-decoration: underline;
    text-underline-offset: 10px;
    padding: 20px;
}

.button-login {
    background-color: #1abc9c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #ecf0f1;
    text-decoration: none;
}

.button-login:hover {
    background-color: #f39c12;
    transform: scale(1.1);
}


.banner-container {
    width: 100%;
    position: relative;
    height: 500px;
    background-color: #1abc9c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.banner-container h1, .banner-container p {
    color: #ffffff;
}

.banner-container h1{
    font-size: 60px;
    position: absolute;
    top: 80px;
}

.banner-container p {
    font-size: 30px;
    position: absolute;
    top: 180px;
}

.search-container input {
    width: 500px;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 60px;
    font-size: 18px;
    transition: .5s ease-in-out;
}

.search-container input:focus {
    border: 2px solid #1abc9c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    outline: none;
}

.search-container input:hover{
    border: 2px solid #1abc9c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    outline: none;
}

.search-container input::placeholder {
    color: #1abc9c;
    font-size: 20px;
}

.books-down {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
   
    justify-content: end;
    align-items: end;
}

.book1,
.book2,
.book3,
.book4 {
    display: flex;
    transition: all 0.3s ease;
}

.book1{
    width: 50px;
    height: 50px;
    background-color:#ff3131;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    animation: wave 2s ease-in-out infinite;
    animation-delay: 0s;
}

.book2{
    width: 60px;
    height: 60px;
    background-color: #2c3b44;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    animation: wave 2s ease-in-out infinite;
    animation-delay: 0.2s;
}

.book3{
    width: 40px;
    height: 70px;
    background-color: #3498db;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    animation: wave 2s ease-in-out infinite;
    animation-delay: 0.4s;
}

.book4{
    width: 65px;
    height: 30px;
    background-color: #eecf82;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    animation: wave 2s ease-in-out infinite;
    animation-delay: 0.6s;
}

@keyframes wave {
    0%, 100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1.5); 
    }
}



main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
    position: relative;
}




body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
    position: relative;
}

.toggle-button {
    position: absolute;
    top: 0;
    right: -30px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
    z-index: 10;
}

.toggle-button:hover {
    transform: scale(1.1);
}

.filter_containers {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 20%;
    height: 70vh;
    transition: transform 0.5s;
    transform: translateX(-100%);
    position: sticky;
    top: 20px;
    left: 0;
}

.filter_containers.open {
    transform: translateX(10px);
}

.filter-form {
    display: grid;
    gap: 20px;
}

.filter-group label {
    font-weight: bold;
    color: #3498db;
}

.filter-group select, .filter-group input {
    padding: 12px;
    border: 1px solid #bdc3c7;
    border-radius: 8px;
    width: 100%;
    transition: border-color 0.3s;
}

.filter-group select:hover, .filter-group input:hover {
    border-color: #3498db;
}

.filter-group input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, #1abc9c 0%, #3498db 100%);
    outline: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.filter-group input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ee4f4f;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-group input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
    cursor: pointer;
}


.filter-button {
    padding: 12px 20px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.filter-button:hover {
    background-color: #16a085;
    transform: scale(1.05);
}

.books_container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    flex-grow: 1;
    margin-left: 25%;
    transition: margin-left 0.5s;
}

.filter_containers.open ~ .books_container {
    margin-left: 5%;
}

.filter_containers:not(.open) ~ .books_container {
    margin-left: -50px;
}

.books_container div {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    border-top: 5px solid #f39c12;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.books_container div:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.books_container img {
    border-radius: 8px;
    margin-bottom: 10px;
}

.books_container h2 {
    color: #f39c12;
    margin-bottom: 10px;
}

.books_container p {
    margin: 5px 0;
    color: #7f8c8d;
}

.books_container a button {
    margin-top: 10px;
    padding: 12px 24px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.books_container a button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.book_img{
    width: 100%;
    height: 75%;
    border: none !important;
    
}

.book_img img{
    width: 100%;
    min-width: 200px;
    min-height: 350px;
    border-radius: 5px;
    border: none;
    
}


.footer-container{
    width: 100%;
    flex-direction: column;
    display: flex;
}

.footer-content{
    width: 100%;
    background-color: #2c3b44;
    display: flex;
    justify-content: space-between;
    padding: 16px;

}

.footer-left{
    display: flex;
    flex-direction: column;
}

.footer-left img{
    width: 150px;
    height: 150px;
}

.footer-left h1{
    color: #3498db;
    font-size: 40px;
    margin-left: 40px;
}

.footer-left p{
    color: #ffffff;
    font-size: 24px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.footer-center{
    display: flex;
    width: 25%;
    justify-content: space-between;
}

.footer-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 32px;
}

.footer-list h2{
    color: #3498db;
    font-size: 24px;
    text-transform: uppercase;
}

.footer-links{
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.footer-links li{
    margin-top: 20px;
    color: #ababab;
    cursor: pointer;
}

.footer-links li:hover{
    color: #3498db;
    
}

.footer-links a{
   color: #ababab;
   text-decoration: none;
}

.footer-links a {
    position: relative;
}

.footer-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #3498db;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.footer-links a:hover::after {
    transform: scaleX(1);
}


.footer-links a:hover{
    color: #3498db;
}

.footer-right{
    display: flex;
    width: 35%;
    flex-direction: column;
    margin-top: 32px;
}

.footer-right p{
    color: #bdc3c7;
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-right h1{
    color: #3498db;
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-right a{
    color: #3498db;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
}

.footer-right a:hover{
    color: #f39c12;
}

.footer-bottom{
    background-color: #384852;
    color: #9dc7e4;
    text-align: center;
    padding: 5px;
    font-size: 16px;
}

