h1 {
    color: #ffffff;
    position: relative;
    margin: 50px;
    display: flex;
    font-size: 40px;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.book-left {
    width: 50%;
    height: 100%;
    display: flex;

    position: relative;
}

.castelo {
    position: absolute;
    top: 10%;
    right: 35%;
    transform: rotateY(-180deg);
    width: 600px;
    height: 600px;
}

.pedra {
    position: absolute;
    top: 50%;
    right: 30%;
    transform: rotate(-25deg);
    z-index: 1;
    width: 150px;
    height: 300px;
    animation: moveRock 5s infinite, glow2 2s alternate infinite;
    filter: drop-shadow(0px 0px 5px #A0FFFF);
}

.sword {
    position: absolute;
    top: 0;
    right: 40%;
    transform: rotate(-25deg);
    z-index: 1;
    width: 250px;
    height: 250px;
    animation: moveSword 5s infinite;
}

.anelVerde {
    position: absolute;
    top: 65%;
    right: 65%;
    transform: rotate(-25deg);
    z-index: 1;
    width: 150px;
    height: 150px;
    animation: moveRing 4s  infinite, glow 2s alternate infinite;
    filter: drop-shadow(0px 0px 5px #5AB36F);
}

.coruja{
    position: absolute;
    top: 15%;
    right: 30%;
    transform: rotateY(180deg);
    z-index: 1;
    width: 200px;
    height: 250px;
    animation: float 3s infinite ease-in-out;
    
}

.lua{
    position: absolute;
    top: 0;
    right: 75%;
    transform: rotateY(180deg);
    z-index: 1;
    width: 200px;
    height: 200px;
    opacity: .6;
    animation: float 8s infinite ease-in-out;
}


.form-book {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.form-container {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgba(52, 152, 219, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    transform-origin: left;
    transform: rotate(90deg);
    opacity: 0;
    transition: transform .6s, opacity .6s ease-in-out;
}

.form-container.animate {
    transform: rotate(0deg);
    opacity: 1;
}



.form-container img {
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 50px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);


}

.form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.form-container label {
    text-transform: uppercase;
    color: #ecf0f1;
    position: absolute;
    font-size: 20px;
    display: none;
}


.nome {
    top: -25px;
    left: 55px;
    animation: moveUpNome .5s ease-in-out;
}

.emailRe {
    top: 75px;
    left: 55px;
    animation: moveUpEmailRe .5s ease-in-out;
}


.senhaRe {
    top: 175px;
    left: 55px;
    animation: moveUpSenhaRe .5s ease-in-out;
}

.conf-senha {
    top: 275px;
    left: 55px;
    animation: moveUpConfSenha .5s ease-in-out;
}

.form-container input {
    width: 75%;
    height: 50px;
    margin-bottom: 50px;
    padding: 0 10px;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
    font-size: 1rem;
    transition: .3s ease-in-out;
    position: relative;
    color: #8c9794;
}


.form-container input:focus {
    border: 1px solid #f39c12;
    outline: none;
}

.form-container input::placeholder {
    color: #8c9794;
    text-transform: uppercase;
    font-size: .8rem;
    transition: 3s ease-in-out;
}

.register-button {
    width: 75%;
    height: 50px;
    background-color: #1abc9c;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    transition: all 0.3s ease;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.register-button:hover {
    background-color: #16c19f;

}

.link-register {
    color: #ecf0f1;
    text-decoration: none;
    margin-top: 20px;
    font-size: 20px;
    transition: .3s ease-in-out;
}

.link-register:hover {
    color: #e1e4e4;
}

.login-ou2 {
    width: 75%;
    color: #ecf0f1;
    margin-top: 20px;
    font-size: 20px;
    transition: .3s ease-in-out;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.login-ou2 p {
    color: #ecf0f1;
    margin-top: 20px;
    width: 40px;
    font-size: 20px;
    transition: .3s ease-in-out;
    text-align: center;
    background-color: #59AADF;
    z-index: 1;

}

.login-ou2 span {
    width: 100%;
    height: 2px;
    background-color: #ecf0f1;
    position: absolute;
    bottom: 10px;
}

.icon-logs2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: absolute;
    bottom: 50px;
}


.icon-google2 {
    width: 50px;
    height: 50px;
    background-color: #ff3131;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .6s ease-in-out;
    color: #ecf0f1;
}

.icon-google2:hover {
    background-color: #ecf0f1;
    color: #ff3131;
    transform: scale(1.05);
    transform: rotate(360deg);
}

.icon-facebook2 {
    width: 50px;
    height: 50px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ecf0f1;
    transition: .3s ease-in-out;
}

.icon-facebook2:hover {
    background-color: #ecf0f1;
    color: #3498db;
    transform: scale(1.05);
    transform: rotate(-360deg);
}

@keyframes moveRing {
    0% {
        transform: translateY(10px);
        filter: brightness(1);
    }

    50% {
        transform: translateY(-10px);
        filter: brightness(1.5);
    }

    100% {
        transform: translateY(10px);
        filter: brightness(1);
    }
}

@keyframes glow2{
    0% {
        filter: drop-shadow(0px 0px 5px #A0FFFF);
    }

    100% {
        filter: drop-shadow(0px 0px 20px #A0FFFF);
    }
}

@keyframes glow {
    0% {
        filter: drop-shadow(0px 0px 5px #5AB36F);
    }

    100% {
        filter: drop-shadow(0px 0px 20px #5AB36F);
    }
}


@keyframes moveSword {
    0% {
        filter: brightness(1);
        transform: translateY(0);
    }

    50% {
        filter: brightness(1.5);
        transform: translateY(-10px);
    }

    100% {
        filter: brightness(1);
        transform: translateY(0);
    }
}

@keyframes moveRock {
    0% {
        transform: rotate(0deg);
        filter: brightness(1);
    }

    50% {
        transform: rotate(5deg);
        filter: brightness(1.5);
    }

    75% {
        transform: rotate(-25deg);
        filter: brightness(1);
    }

    100% {
        transform: rotate(0);
        filter: brightness(1);
    }
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); } /* Movimento para cima e para baixo */
}


@keyframes Start {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveUpNome {
    0% {
        top: 0;
    }

    100% {
        top: -25px;
    }
}

@keyframes moveUpEmailRe {
    0% {
        top: 100px;
    }

    100% {
        top: 75px;
    }
}

@keyframes moveUpCpf {
    0% {
        top: 200px;
    }

    100% {
        top: 175px;
    }
}

@keyframes moveUpSenhaRe {
    0% {
        top: 200px;
    }

    100% {
        top: 175px;
    }
}

@keyframes moveUpConfSenha {
    0% {
        top: 300px;
    }

    100% {
        top: 275px;
    }
}